footer {
    text-align: center;
    padding: 1rem;
    background-color: inherit;
    color: inherit;
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: color 0.3s ease, background-color 0.3s ease;
}

footer p {
    margin: 0;
}