.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    text-align: center;
    gap: 40px;
    padding: 0 20px;
}

body.dark-mode .profile-container {
    color: #fff;
}

body:not(.dark-mode) .profile-container {
    color: #000;
}

.profile-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

/* For larger screens */
@media (min-width: 768px) {
    .profile-info-container {
        flex-direction: row;
        justify-content: center;
        gap: 50px;
        text-align: left;
    }
}

/* Image size increased here */
.profile-image {
    width: 35vh; /* Changed from 30vh to 35vh */
    height: 35vh; /* Changed from 30vh to 35vh */
    border-radius: 50%;
    object-fit: cover;
}

/* Adjust font size for smaller screens */
.profile-info {
    font-size: 1.5rem;
}

.profile-info h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 10px 0;
}

.profile-info p {
    margin: 5px 0;
}

/* Adjust image size for smaller screens */
@media (max-width: 480px) {
    .profile-image {
        width: 20vh; /* Changed from 15vh to 20vh */
        height: 20vh; /* Changed from 15vh to 20vh */
    }

    .social-links a {
        font-size: 1.5rem;
    }
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.social-links a {
    margin: 10px;
    font-size: 2rem;
    color: #333;
    text-decoration: none;
}

body.dark-mode .social-links a {
    color: #fff;
}

body:not(.dark-mode) .social-links a {
    color: #000;
}

/* Smooth hover effects */
.profile-image:hover,
.profile-info p:hover {
    animation: twitch 0.2s ease-in-out;
}

@keyframes twitch {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-3px);
    }
    40% {
        transform: translateX(3px);
    }
    60% {
        transform: translateX(-2px);
    }
    80% {
        transform: translateX(2px);
    }
    100% {
        transform: translateX(0);
    }
}

