.projects-section{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 40px;
    background-color: var(--background-color); /* Use dark or light mode variable */
}

.card {
    background-color: var(--card-background);
    color: var(--text-color);
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
    margin-top: 90px;
}

.card:hover {
    transform: translateY(-10px);
}

.card h2 {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.skills-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.skills-list li {
    margin: 5px 0;
    font-weight: 500;
}

@media (max-width: 768px) {
    .about-section {
        flex-direction: column;
        align-items: center;
    }
}

